* text=auto !eol
/License.txt -text
/MakeScripts.bat -text
OgreDemo/Media/Blue.bat -text
OgreDemo/Media/BlueSkin.jpg -text
OgreDemo/Media/Green.bat -text
OgreDemo/Media/GreenSkin.jpg -text
OgreDemo/Media/GreenSkin.original.jpg -text
OgreDemo/Media/Ogre.material -text
OgreDemo/Media/OgreCore.zip -text
OgreDemo/Media/Red.bat -text
OgreDemo/Media/RedSkin.jpg -text
OgreDemo/Media/WeirdEye.png -text
OgreDemo/Media/dirt01.jpg -text
OgreDemo/Media/ogrehead.mesh -text
OgreDemo/Media/spheremap.png -text
OgreDemo/OgreDemo.cpp -text
OgreDemo/ReadMe.txt -text
OgreDemo/bin/plugins.cfg -text
OgreDemo/bin/plugins_d.cfg -text
OgreDemo/bin/resources.cfg -text
OgreDemo/exampleapp/ExampleApplication.h -text
OgreDemo/exampleapp/ExampleFrameListener.h -text
OgreDemo/gmake/Makefile -text
OgreDemo/gmake/OgreDemo.make -text
OgreDemo/premake4.lua -text
OgreDemo/vs2005/OgreDemo.sln -text
OgreDemo/vs2005/OgreDemo.vcproj -text
OgreDemo/vs2008/OgreDemo.sln -text
OgreDemo/vs2008/OgreDemo.vcproj -text
/ReadMe.txt -text
/SimpleDemo.cpp -text
build/gmake/Makefile -text
build/gmake/SimpleDemo.make -text
build/vs2005/SimpleDemo.vcproj -text
build/vs2005/SimpleFileWatcher.sln -text
build/vs2008/SimpleDemo.vcproj -text
build/vs2008/SimpleFileWatcher.sln -text
include/FileWatcher/FileWatcher.h -text
include/FileWatcher/FileWatcherImpl.h -text
include/FileWatcher/FileWatcherLinux.h -text
include/FileWatcher/FileWatcherOSX.h -text
include/FileWatcher/FileWatcherWin32.h -text
/premake4.lua -text
source/FileWatcher.cpp -text
source/FileWatcherLinux.cpp -text
source/FileWatcherOSX.cpp -text
source/FileWatcherWin32.cpp -text
